name: Manual Input Workflow

on:
  workflow_dispatch:
    inputs:
      username:
        description: 'Enter your name'
        required: true
        default: 'Student'
      environment:
        description: 'Select environment'
        required: true
        type: choice
        options:
          - dev
          - test
          - prod

jobs:
  print-inputs:
    runs-on: ubuntu-latest

    steps:
      - name: Print user inputs
        run: |
          echo "Username: ${{ github.event.inputs.username }}"
          echo "Environment: ${{ github.event.inputs.environment }}"
